<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.edu">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".basic_info"
            android:screenOrientation="portrait" />
        <activity android:name=".other_events" android:screenOrientation="portrait"/>
        <activity android:name=".sunday_activity" android:screenOrientation="portrait"/>
        <activity android:name=".Notification_genrater" android:screenOrientation="portrait"/>
        <activity android:name=".date_monitoring" android:screenOrientation="portrait"/>
        <activity
            android:name=".Profile_mgmt"
            android:screenOrientation="portrait" />
        <activity android:name=".schedule_view" android:screenOrientation="portrait"/>
        <activity android:name=".complain_viewer_activity" android:screenOrientation="portrait"/>
        <activity android:name=".member_monitoring" android:screenOrientation="portrait"/>
        <activity android:name=".Management_schedule" android:screenOrientation="portrait"/>
        <activity
            android:name=".Show_Attendance"
            android:label="Status Today"
            android:screenOrientation="portrait"/>
        <activity android:name=".Management_main_page" android:screenOrientation="portrait"/>
        <activity android:name=".schedule_management" android:screenOrientation="portrait"/>
        <activity android:name=".list_member" android:screenOrientation="portrait"/>
        <activity android:name=".new_registration" android:screenOrientation="portrait"/>
        <activity android:name=".admin_management" android:screenOrientation="portrait"/>
        <activity android:name=".Teacher_management" android:screenOrientation="portrait"/>
        <activity android:name=".class_management" android:screenOrientation="portrait"/>

        <service
            android:name=".service.mymesseging"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".Management_screen"
            android:label="Teacher Attendance" android:screenOrientation="portrait"/>
        <activity
            android:name=".login_screen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".action_screen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/full_screen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_home" />
    </application>

</manifest>