<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.edu">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Profile_mgmt"></activity>
        <activity android:name=".schedule_view" />
        <activity android:name=".complain_viewer_activity" />
        <activity android:name=".member_monitoring" />
        <activity android:name=".Management_schedule" />
        <activity
            android:name=".Show_Attendance"
            android:label="Status Today" />
        <activity android:name=".Management_main_page" />
        <activity android:name=".schedule_management" />
        <activity android:name=".list_member" />
        <activity android:name=".new_registration" />
        <activity android:name=".admin_management" />
        <activity android:name=".not_able" />
        <activity android:name=".Teacher_management" />
        <activity android:name=".class_management" />
        <activity
            android:name=".Management_screen"
            android:label="Teacher Attendance" />
        <activity android:name=".login_screen" />
        <activity android:name=".action_screen" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/full_screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>